Repository rallyware/terraform-argocd-aws-eks-cluster-bootstrap, pull requests merged in 2022-05, with the labels that each got.

#15 chore: switch from bitami external-dns chart to native
  README.md
  variables.tf
Labels: chore

#16 fix: karpenter provisioning
  README.md
  helm-values/karpenter.yaml
  helm_apps_default_values.tf
  karpenter.tf
  variables.tf
Labels: fix

#17 feat: add yace
  helm-values/yace.yaml
  helm_apps_default_values.tf
  outputs.tf
  variables.tf
  yace.tf
Labels: feat

#18 chore: add waiting
  README.md
  apps.tf
  variables.tf
Labels: chore

#19 feat: add options: sync_policy, sync_policy, jsonPointers
  README.md
  apps.tf
  chart/argocd-app-of-apps/Chart.yaml
  chart/argocd-app-of-apps/templates/applications.yaml
  chart/argocd-app-of-apps/values.yaml
  variables.tf
Labels: feat

#20 chore: make group in app interface optional
  README.md
  variables.tf
Labels: chore
